.contentInRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contentInColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.style{
    color: black;
    text-decoration: none;
}

.styleActive{
    color: black;
    text-decoration: underline;
}

.inputDecoration{
    border-radius: 12.0px;
    margin: 10px;
    padding: 10px;
    width: 300px;
}

.buttonDecoration{
    border-radius: 20.0px;
    background-color: white;
    border-color: black;
    padding: 10px 20px;
}

.cardDecoration{
    color: white;

}

.pageDecoration{
    color:grey;
}